<div class="card margins" id="listOrderContainer">
    <div class="card-body">

        <div class="card-body">


            <div class="mb-3 d-flex justify-content-end">
                <button routerLink="../new-order" class="btn btn-success ml-2" (click)="newOrder()">Novo
                    Pedido</button>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead class="text-center">
                        <th class="th-button"></th>
                        <th>Data / Hora</th>
                        <th>Valor</th>
                    </thead>
                    <tbody class="text-center" id="tbodyOrder">
                        <tr *ngFor="let order of this.orderService.orderList; let index = index">
                            <td class="p-1">
                                <div class="d-flex gap-1 justify-content-center p-1">
                                    <button class="mx-1 btn btn-success d-flex align-items-center justify-content-center buttonsInterative" (click)="updateOrder(order.id)">
                                        <span class="material-icons-sharp">edit</span>
                                    </button>

                                </div>
                            </td>
                            <td>{{ order.date }}</td>
                            <td>R$ {{ order.amount }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>